body {
	margin: 10px 50px;
	padding: 0 10px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	background-color: #fff;
}
/*.container-fluid {
	margin: 10px;
	padding-left: 750px;
	padding-right: 750px;
}*/
#header.label {
	font-size: 2.0em;
	text-align: center;
	width: auto;
	margin: 0 auto;
	margin-left: 20%;
	margin-right: 20%;
	display: inline-block;
}
.form-horizontal {
	margin: 0px auto;
	display: block;
}
fieldset {
	margin: 0px auto;
	display: block;
	margin-left: 20%;
	margin-right: 20%;
	border: 3px solid gray;
	border-radius: 10px;
	padding: 5px;
}
legend.label {
	background-color: #f39c12;
	width: auto;
	height: auto;
	text-align: left;
	font-size: 1.5em;
	padding: 0px auto;
	margin-left: 20px;
}
.form-group {
	display: block;
	margin: 5px auto;
	padding: 0px auto;
	width: auto;
}
span.label {
	font-size: 1.2em;
	float: left;
	width: 200px;
	text-align: left;
	margin: 0px auto;
	margin-left: 35px;
	padding: 10px 15px;
	display: block;
}
.col-lg-6 {
	display: inline-block;
	margin: 0px auto;
	width: 400px;
}
.col-md-5 {
	display: inline-block;
	margin: 0px auto;
	width: auto;
}
h5 {
	margin: 5px auto;
	float: left;

}
.view {
	float: left;
	font-size: 1.2em;
	margin: 5px;
	width: auto;
}
.btn {
	text-decoration: none;
}
.msg {
	margin: 0px auto;
}
.navbar {
	font-size: 1.2em;
}
table.table {
	margin: 0px auto;
}
th {
	margin: 0px auto;
}
.cari_reult {
	margin: left;
}
